<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title><%= title %></title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

		<!-- 1. Add JQuery and Highcharts in the head of your page -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
         
        <!-- 2. You can add print and export feature by adding this line -->
        <!-- <script src="http://code.highcharts.com/modules/exporting.js"></script> -->
        
 
<script type="text/javascript">
				$(document).ready(function() {
               //var xAxisData = ['04-01', '04-02', '04-03', '04-04', '04-05'];
               var xAxisData = <%- JSON.stringify(timeData) %>;
               var videoData = <%- JSON.stringify(videoRatingData) %>;               
               var videoName = <%- JSON.stringify(videoName) %>;
               console.log(JSON.stringify(videoName));
               console.log(JSON.stringify(videoData));
               
               $('#rahman').highcharts({
                title: {
                    text: 'Likability Trend - A.R.Rahman Ok Kanmani',
                    x: -20 //center
                },
                subtitle: {
                    text: 'Source: youtube.com',
                    x: -20
                },
                xAxis: {
                    categories: xAxisData
                },
                yAxis: {
                    title: {
                        text: 'Avg Rating'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: '/5',
                    pointFormat: "Value: {point.y:.2f}"
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: videoName,
                    data: videoData
                }]
            });
        });
      
</script>
 
</head>


<body>
	<% include navbar %> 
	<h3>Hhi</h3><br><br>
	
	<div style="margin-left: 25%">
		<input type="text" id="mytext">
		<button id="mybutton">Enter Youtube Video ID here</button><br><br>
		<button id="loadByVideoId">Enter Youtube Video ID to find</button> <br><br>
	</div>
		<div id="rahman" style="min-width: 310px; height: 500px; margin: 0 auto"> </div>
		<div id="realtime" style="min-width: 310px; height: 400px; margin: 0 auto"> </div>
		<div id="pradeepan" style="min-width: 310px; height: 400px; margin: 0 auto"> </div>
	
</body>

<style>
table,th,td {
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 5px;
	text-align: left;
	color: white;
	background-color: #4D4D4D;
}
</style>

<script>

$(document).ready(function(){
    $("#mybutton").click(function () {
       console.log("Clicked");
      var youtubeId = $("#mytext").val();
        var videoInfo = "https://gdata.youtube.com/feeds/api/videos/" + youtubeId + "?v=1";
        $.get(videoInfo).done(function (xml) {
            var rating = xml.getElementsByTagName("rating")[0];
            var statistics = xml.getElementsByTagName("statistics")[0];
            var title = $(xml).find('title').text();
            if (rating) {
                console.log("Average rating: " + rating.getAttribute("average"));
                console.log("Number of Votes: " + rating.getAttribute("numRaters"));
                console.log("Number of views: " + statistics.getAttribute("viewCount"));
                console.log("Title: " + title);
                appendData(youtubeId, title, rating, statistics);
            } else {
                alert("Sorry, no rating.");
            }
        });
    });
});

function appendData(youtubeId, title, rating, statistics) {
	console.log("POST'ing for appending: " + youtubeId + "Rating: " + rating.getAttribute("average"));
	var averageValue = rating.getAttribute("average");
	var numRatersValue = rating.getAttribute("numRaters");
	var viewCountValue = statistics.getAttribute("viewCount");
	var youtubeData = {"average" : averageValue, "numRaters" : numRatersValue, "viewCount" : viewCountValue};
	$.post( "http://localhost:3000/append/" + youtubeId, youtubeData);
}


$(document).ready(function(){
    $("#loadByVideoId").click(function () {
       var youtubeurl = $("#mytext").val();
       console.log("Clicked: " + youtubeurl);
       $.ajax({ 
           type: "GET",
                dataType: "text",
               url: "http://localhost:3000/dataload/"+ youtubeurl,
               success: function(response){        
                  console.log("Got response: " + JSON.stringify(response));   
                  var responseObj = jQuery.parseJSON(response);
                  $('#pradeepan').text((response));
                     
               }
           });
    });
});

/* $(function () {
    $(document).ready(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        $('#realtime').highcharts({
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y = Math.random();
                            series.addPoint([x, y], true, true);
                        }, 10000);
                    }
                }
            },
            title: {
                text: 'Live random data'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: Math.random()
                        });
                    }
                    return data;
                }())
            }]
        });
    });
}); */

</script>
 
<div class="container"><% include footer %></div>


</html>