<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h2>Resume</h2>
        <p>Over 11 years of expertise in large scale application development. Passionate learner and ...</p>
        <p>
            <a class="btn btn-default" href="#" role="button">View details
                &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>US Map</h2>
        <p>50 States of the United States of America ...</p>
        <p>
            <a class="btn btn-default" href="map" role="button">View details
                &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>ARR YouTube Project</h2>
        <p>Analytics on A.R.Rahman's youtube songs ...</p>
        <p>
            <a class="btn btn-default" href="arryoutube/trend" role="button">View details
                &raquo;</a>
        </p>
    </div>
</div>