body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p { text-align: center }

a {
  color: #00B7FF;
}

.jumbotron {
	text-align: left;
	color: black;
	font-family: 'Georgia', sans-serif;	
	background-image: url('../images/prad.jpg');
}
